body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro,.container{
  height: 500px;
  margin: 100px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5px;
}

.intro h1{
  margin: 3px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bolder;
}

.intro h2{
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 27px;
}

.intro p{
  font-size: 12px;
  font-weight: bolder;
  color: gray;
}

.intro button{
  height: 40px;
  width: 150px;
  font-weight: bolder;
  border-radius: 12px;
  border: none;
  color: white;
  background: blue;
  box-shadow: 5px 9px 15px black;
}


form{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  line-height: 20px;
}

input{
  margin-bottom: 20px;
  padding: 5px 5px;
  height: 20px;
  width: 300px;
  border-radius: 20px;
  border: solid blue 1px;
}

textarea{
  height: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid blue;
  padding: 11px 5px;
}

label{
  font-weight: bolder;
  background: blue;
  color: white;
  width: 100px;
  padding: 2px 2px;
  border-radius: 12px;
}

.btn{
  width: 100px;
  height: 40px;
  color: white;
  text-transform: uppercase;
  background: blue;
  border: none;
  border-radius: 12px;
  outline: none;
  padding: 10px;
}

a{
  text-decoration: none;
}

p{
  margin: 30px 0;
}

select{
  width: 110px;
  height: 30px;
  border: none;
  margin-bottom: 12px;
  border-radius: 12px;
}
